/*
colors

red: #ee2a3a eh
navy: #373c53
gray: #9ca9bb
light gray: #f0f5f6
bright red: #ff424f

red: #b10733
navy: #0a3446
*/


*
{
	box-sizing: border-box;
}

/*----- Clear Fix -----*/

.clearfix
{
  *zoom: 1;
}

.clearfix:before, .clearfix:after
{
  content: " ";
  display: table;
}

.clearfix:after
{
  clear: both;
}

/*----- Grid -----*/

.row
{
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.column
{
  float: left;
  margin-right: 2%;
}

.column.two-third
{
  width: 66%;
}

.column.one-half
{
  width: 49%;
}

.column.one-third
{
  width: 32%
}

.last-of-type
{
  margin-right: 0;
}

/*----- Defaults -----*/

img
{
  width: 100%;
  height: auto;
}

/*----- Header -----*/

header
{
  background-color: #0a3446;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 0;
}

header a img
{
  border: 2px solid white;
  height: 52px;
  width: auto;
  float: left;
  transition: 333ms all ease-in-out;
}

header a img:hover
{
  transition: 333ms all ease-in-out;
  opacity: 0.7;
}

header a h4
{
  float: left;
  position: absolute;
  top: 88px;
  margin: 0;
  color: white;
  transition: 333ms all ease-in-out;
}

header a h4:hover
{
  color: #b10733;
  transition: 333ms all ease-in-out;
}

header nav.main
{
  float: right;
  border: 2px solid white;
  background-color: #032d3e;
  box-shadow: inset 0 0 5px #777;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

header nav.main a
{
  float: left;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
  transition: 333ms all ease-in-out;
}

header nav a:hover
{
  color: #b10733;
  transition: 333ms all ease-in-out;
}

header nav.main a:nth-child(3)
{
  margin-left: 20px;
}

header nav.main a:last-of-type
{
  margin-right: 0;
}

.grandparent
{
  position: relative;
  float: left;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.grandparent a
{
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 15px !important;
}

.parent
{
  visibility: hidden;
  position: absolute;
  opacity: 0;
  background-color: #032d3e;
  border: 2px solid white;
  padding: 15px;
  top: 33px;
  transform: translateY(-3.5em);
  z-index: -1;
  transition: all 0.333s ease-in-out 0s, visibility 0s linear 0.333s, z-index 0s linear 0.01s;
}

.grandparent:hover .parent
{
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.333s;
}

.parent a
{
  float: none;
  margin: 0;
  padding: 0 !important;
  margin-bottom: 20px !important;
  /*margin-top: 20px;*/
  display: block;
}

.parent a:nth-child(3)
{
  margin-left: 0 !important;
}

.parent a:last-of-type
{
  margin-bottom: 0 !important;
}

/*----- Main -----*/

main
{
  margin-bottom: 20px;
  margin-top: 20px;
}

p
{
  margin-top: 0;
}

main article h3 a
{
  color: #0a3446;
  text-decoration: none;
  transition: 333ms all ease-in-out;
}

main article h3 a:hover
{
  color: #b10733;
  transition: 333ms all ease-in-out;
}

main article a img
{
  width: 50px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 333ms all ease-in-out;
}

main article a img:hover
{
  transition: 333ms all ease-in-out;
  opacity: 0.7;
}

main article a.read-more
{
  float: right;
  color: #b10733;
  text-decoration: none;
  transition: 333ms all ease-in-out;
}

main article a:hover
{
  color: #0a3446;
  transition: 333ms all ease-in-out;
}

/*----- Footer -----*/

footer
{
  margin-top: 20px;
  background-color: #0a3446;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer h5
{
  color: white;
  float: left;
  margin: 0;
}

footer h5 a
{
  color: white;
  text-decoration: none;
  transition: 333ms all ease-in-out;
}

footer h5 a:hover
{
  color: #b10733;
  transition: 333ms all ease-in-out;
}

footer nav
{
  float: right;
}

footer nav a span.genericon
{
  color: white;
  text-decoration: none;
  transition: 333ms all ease-in-out;
}

footer nav a span.genericon:hover
{
  color: #b10733;
  text-decoration: none;
  transition: 333ms all ease-in-out;
}

/*----- Media Queries -----*/

@media (max-width: 625px)
{

  /*----- Header -----*/

  header a img
  {
    float: none;
    display: block;
    margin: auto;
  }

  header a h4
  {
    float: none;
    text-align: center;
    position: relative;
    top: 0;
    margin: 15px;
  }

  header nav.main
  {
    float: none;
    text-align: center;
  }

  header nav.main a
  {
    float: none;
    text-align: center;
  }

  .grandparent
  {
    float: none;
  }

  /*----- Main -----*/

  .two-third
  {
    float: none !important;
    width: 100% !important;
  }

  .one-third
  {
    float: none !important;
    width: 100% !important;
  }

  /*----- Footer -----*/

  footer h5
  {
    float: none;
    text-align: center;
    margin-bottom: 15px;
  }

  footer nav
  {
    float: none;
    text-align: center;
  }
}
