/*
colors

red: #ee2a3a eh
navy: #373c53
gray: #9ca9bb
light gray: #f0f5f6
bright red: #ff424f

red: #b10733
navy: #0a3446
*/


*
{
	box-sizing: border-box;
}

/*----- Clear Fix -----*/

.clearfix
{
  *zoom: 1;
}

.clearfix:before, .clearfix:after
{
  content: " ";
  display: table;
}

.clearfix:after
{
  clear: both;
}

/*----- Grid -----*/

.row
{
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.column
{
  float: left;
  margin-right: 2%;
}

.column.two-third
{
  width: 65%;
}

.column.one-half
{
  width: 49%;
}

.column.one-third
{
  width: 32%
}

.last-of-type
{
  margin-right: 0;
}

/*----- Defaults -----*/

img
{
  width: 100%;
  height: auto;
}

/*----- Header -----*/

header
{
  background-color: #0a3446;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

header img
{
  border: 2px solid white;
  height: 52px;
  width: auto;
  float: left;
}

header h4
{
  float: left;
  /*clear: both;*/
  position: absolute;
  top: 88px;
  margin: 0;
  color: #eee;
}

header nav.main
{
  float: right;
  border: 2px solid white;
  /*padding: 15px;*/
  background-color: #032d3e;
  box-shadow: inset 0 0 5px #777;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

header nav.main a
{
  float: left;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

header nav.main a:nth-child(3)
{
  margin-left: 20px;
}

header nav.main a:last-of-type
{
  margin-right: 0;
}

.parent
{
  position: relative;
  float: left;
  color: white;
  text-decoration: none;
  display: inline-block;
  /*padding-bottom: 15px;
  padding-top: 15px;*/
}

.parent a
{
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 15px !important;
}

.child
{
  visibility: hidden;
  /*display: none;*/
  position: absolute;
  opacity: 0;
  background-color: #032d3e;
  border: 2px solid white;
  padding: 15px;
  top: 33px;
}

.child a
{
  float: none;
  margin: 0;
  padding: 0 !important;
  margin-bottom: 20px !important;
  /*margin-top: 20px;*/
  display: block;
}

.child a:nth-child(3)
{
  margin-left: 0 !important;
}

.child a:last-of-type
{
  margin-bottom: 0 !important;
}

.parent:hover{
  color: green;
}

.parent:hover .child
{
  visibility: visible;
  z-index: 1;
  opacity: 1;
  /*display: block;*/
}

/*----- Main -----*/

main
{
  margin-bottom: 20px;
  margin-top: 20px;
}

main article h3
{
  color: #0a3446;
}

main article img
{
  width: 50px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

main article a
{
  float: right;
  color: #b10733;
  text-decoration: none;
}

main article a:hover
{
  color: #0a3446;
}

/*----- Footer -----*/

footer
{
  margin-top: 20px;
  background-color: #0a3446;
}

footer h5
{
  color: white;
}
/*----- Media Queries -----*/

/*@media (max-width: 500px)
{

}*/
